<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- The name of the first node  -->
    <!--<add key="SingleNodeName" value="META"/>-->
    <!--<add key="XMLFileName" value=""/>-->
    <add key="Culture" value="en-US" />
    <add key="MetaDataFileName" value="MetaData.XML" />
    <add key="LevelFileName" value="Level.XML" />
    <add key="VPDFileName" value="VPD.XML" />
    <add key="ParameterListFile" value="ParameterList.txt" />
    <add key="CopyrightInfoFile" value="CopyrightInfo.txt" />
    <add key="MetaDataRootNodeName" value="META" />
    <add key="RootNodeName" value="LocalMachine" />
    <add key="MetaDataNodeAttributeName" value="ID" />
    <add key="RegistryPath" value="SOFTWARE\\Lenovo\\ThinkVantage\\Inventory Agent\\" />
    <add key="RegistryPathVPD" value="SOFTWARE\\Lenovo\\Inventory Agent\\VPD\\" />
    <add key="DataGridRowHeight" value="20" />
    <add key="DirectoryLocal" value="local" />
    <add key="DirectoryCustom" value="custom" />
    <add key="DirectoryTemp" value="temp" />
    <add key="NewXml" value="new.xml" />
    <add key="SqlXml" value="sql.xml" />
    <add key="NewHtml" value="Compare.html" />
    <add key="CustomizedFilePath" value="" />
    <add key="MSG_EN_US_001" value="The function is not available yet. " />
    <add key="MSG_EN_US_002" value="Parameter missing: Section" />
    <add key="MSG_EN_US_003" value="The version number is not valid!" />
    <add key="MSG_EN_US_004" value="The parameter: version is missing! " />
    <add key="MSG_EN_US_005" value="Invalid parameter! " />
    <add key="MSG_EN_US_006" value="The parameter missing: file name" />
    <add key="MSG_EN_US_007" value="Invalid parameter! " />
    <add key="MSG_EN_US_008" value="The file does not exist. " />
    <add key="MSG_EN_US_009" value="The two versions are identical. " />
    <add key="MSG_EN_US_010" value="The two versions are different. " />
    <add key="MSG_EN_US_011" value="The XML file has been generated. The location is: " />
    <add key="MSG_EN_US_012" value="The files has been registered successfully! " />
    <add key="MSG_EN_US_013" value="Can not find the XML file to be modified. The location is: " />
    <add key="MSG_EN_US_014" value="Can not find the value in the XML file. " />
    <add key="MSG_EN_US_015" value="The files has been deregistered successfully! " />
    <add key="MSG_EN_US_016" value="The files has been deleted successfully! " />
    <add key="MSG_EN_US_017" value="Parameter missing: elements" />
    <add key="MSG_EN_US_018" value="UTF-8" />
    <!-- HTML -->
    <add key="MSG_EN_US_019" value="Identical sections" />
    <add key="MSG_EN_US_020" value="Different sections" />
    <add key="MSG_EN_US_021" value="The HTML file has been saved to: " />
    <add key="MSG_EN_US_022" value="UTF-8" />
    <add key="MSG_EN_US_023" value="Comparing results" />
    <add key="MSG_EN_US_024" value="Snapshot A" />
    <add key="MSG_EN_US_025" value="Snapshot B" />
    <!-- HTML END -->
    <add key="MSG_EN_US_026" value="Not found! " />
    <add key="MSG_EN_US_027" value="Error: " />
    <add key="MSG_EN_US_028" value="One or both of the snapshots don't have the corresponding data. " />
    <add key="MSG_EN_US_029" value="Snapshot has been saved successfully! The snapshot number is " />
    <add key="MSG_EN_US_030" value="" />
    <add key="MSG_EN_US_031" value="" />
    <add key="MSG_EN_US_032" value="" />
    <add key="MSG_EN_US_033" value="" />
    <add key="MSG_EN_US_034" value="" />
    <add key="UI_TXT_EN_US_Label_Collapse" value="Collapse All" />
    <add key="UI_TXT_EN_US_Label_Expand" value="Expand All" />
    <add key="UI_TXT_EN_US_Label_Help" value="Help" />
    <add key="UI_TXT_EN_US_Label_Options" value="Options" />
    <add key="UI_TXT_EN_US_Label_Refresh" value="Refresh" />
    <add key="UI_TXT_EN_US_Label_SearchText" value="Search" />
    <add key="UI_TXT_EN_US_Label_RevisionA" value="Revision A: " />
    <add key="UI_TXT_EN_US_Label_RevisionB" value="Revision B: " />
    <add key="UI_TXT_EN_US_DG_Column_Title_Name" value="Name" />
    <add key="UI_TXT_EN_US_DG_Column_Title_Revision_A" value="Revision A Value" />
    <add key="UI_TXT_EN_US_DG_Column_Title_Revision_B" value="Revision B Value" />
    <add key="UI_TXT_ZH_CN_Label_Collapse" value="Collapse All" />
    <add key="UI_TXT_ZH_CN_Label_Expand" value="Expand All" />
    <add key="UI_TXT_ZH_CN_Label_Help" value="Help" />
    <add key="UI_TXT_ZH_CN_Label_Options" value="Options" />
    <add key="UI_TXT_ZH_CN_Label_Refresh" value="Refresh" />
    <add key="UI_TXT_ZH_CN_Label_SearchText" value="Search" />
    <add key="UI_TXT_ZH_CN_Label_RevisionA" value="Revision A: " />
    <add key="UI_TXT_ZH_CN_Label_RevisionB" value="Revision B: " />
    <add key="UI_TXT_ZH_CN_DG_Column_Title_Name" value="Name" />
    <add key="UI_TXT_ZH_CN_DG_Column_Title_Revision_A" value="Revision A Value" />
    <add key="UI_TXT_ZH_CN_DG_Column_Title_Revision_B" value="Revision B Value" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <generatePublisherEvidence enabled="false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.19.0.0" newVersion="6.19.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>