<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Lenovo.Vantage.RpcClient" publicKeyToken="3eb6008cf9a3a112" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.10.4" newVersion="1.0.10.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lenovo.Vantage.RpcCommon" publicKeyToken="3eb6008cf9a3a112" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.10.4" newVersion="1.0.10.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>